/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

*.wasm
examples/build
examples/rubies
# scratch projects created with `jsg new test`
/test/*
!/test/wasm/
test/wasm/node_modules/
